/*  your css code here. If applicable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	position:relative;
}
.hero image{
	width:100%;
	height:100%;
	object-fit: cover fill;
}

.hero-content{
	text-align: center;
    color: white;
    max-width: 600px;
    padding: 20px;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.explore-button{
	padding:10px 20px;
	background-color:#ff4d4d;
	color:white;
	border-radius:25px;
}